{% extends "base.html" %}
{% load humanize %}
{% block title %}{{job.title}}{% endblock %}
{% block main %}
<div>
    <h4 class="vig">{{job.is_union}}</h4>
    <h4 class="vig">Requires: {{job.title}}{% if job.positions_available > 1 %} &mdash; {{job.positions_available }} positions{% endif %}</h4>
    <h4 class="vig">Salary</h4>
    <p>${{job.payscale_start|intcomma}} to ${{job.payscale_end|intcomma}} {{job.get_payscale_period_display}}</p>
    <div>
        {{job.requirements}}
    </div>
    <h4 class="vig">Location</h4>
    {% for location in job.location.all  %}
        <p>{{location.name}}</p>
    {% endfor %}
    <h4 class="vig">Qualifications</h4>
    <div>
        {{job.qualifications}}
    </div>
    <h4 class="vig">Hours of Work</h4>
    {{job.hours_per_week}}
</div>
<div>
    <p>Please submit your letter of interest and resume{% if job.get_closing_date != "Open" %} by <strong>{{job.get_closing_date}}</strong>{% endif %} to:</p>
    <address>
        <p>Human Resources Department</p>
        <p>Kenora-Rainy River Districts Child and Family Services</p>
        <p>820 Lakeview Drive</p>
        <p>Kenora, Ontario P9N 3P7</p>
    </address>
    <div>
        <p>Fax No. (807) 467-5539</p>
        <p>Email <a href="mailto:hr@krrcfs.ca?subject='Job Posting - {{job.title}}'">hr@krrcfs.ca</a></p>
    </div>
</div>
{% endblock %}