{% extends "base.html" %}
{% load humanize fractions %}
{% block title %}{{job.title}}{% endblock %}
{% block main %}
<div>
    <h4 class="vig">{{job.is_union}}</h4>
    {% if job.positions_available > 1 %}<h5 class="vig">{{job.positions_available }} positions available</h5>{% endif %}
    <h4 class="vig">{% if job.payscale_period == 'H' or job.payscale_period == 'W' %}Wage{% else %}Salary{% endif %}</h4>
    <p>${{job.payscale_start|intcomma}} {% if payscale_end > 0 %}to ${{job.payscale_end|intcomma}}{% endif %} {{job.get_payscale_period_display}}</p>
    <div>
        <p>{{job.description|linebreaks}}</p>
    </div>
    <h4 class="vig">Location</h4>
    {% for location in job.location.all  %}
        <p>{{location.name}}</p>
    {% endfor %}
    {% if job.service %}
        <h4 class="vig">Service</h4>
        <p>{{job.service}}</p>
    {% endif %}
    {% if job.qualifications %}
    <h4 class="vig">Qualifications</h4>
    <div>
        <p>{{job.qualifications|linebreaks}}</p>
    </div>
    {% endif %}
    {% if job.requirements %}
        <h4 class="vig">Requirements</h4>
        {{job.requirements|linebreaks}}
    {% endif %}
    <h4 class="vig">Hours of Work</h4>
    {% if job.hours_per_week > 0 %}<p>{{job.hours_per_week|text_fraction}} hours per week</p>{% endif %}
    {% if job.hours_description %}
    <p>{{job.hours_description|linebreaks}}</p>
    {% endif %}
</div>
<div>
    <p>Please submit your letter of interest and resume{% if job.get_closing_date != "Open" %} by <strong>{{job.get_closing_date}}</strong>{% endif %} to:</p>
    <address>
        <p>Human Resources Department<br />
        Kenora-Rainy River Districts Child and Family Services<br />
        820 Lakeview Drive<br />
        Kenora, Ontario P9N 3P7</p>
    </address>
    <div>
        <p>Fax No. (807) 467-5539</p>
        <p>Email <a href="mailto:hr@krrcfs.ca?subject=Job Posting - {{job.title}}">hr@krrcfs.ca</a></p>
        <p class="vig">We would like to thank all applicants, only those selected for an interview will be contacted.</p>
    </div>
</div>
{% endblock %}